.Breeds .menu {
  margin: 10px 0;
}

.breed-form button {
  margin-right: 10px;
}
.SpecificBreed .breed-id {
  padding: 5px 3px;
}

.SpecificBreed .breed-header {
  background-color: var(--background-secondary-color);
  color: var(--text-secondary-color);
}

.SpecificBreed img {
  max-height: 360px;
  border-radius: 20px;
  display: inline-block;
}
.SpecificBreed .info {
  text-align: center;
}
.SpecificBreed .info-field {
  margin-top: -30px;
  border: 1px solid var(--background-secondary-color);
  border-radius: 20px;
  padding: 0px 40px;
}
.name-block {
  margin-top: 10px;
}
.SpecificBreed .info h3 {
  font-size: 36px;
  font-weight: 500;
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: var(--border-radius);
}
.SpecificBreed .info-field span {
  font-size: 16px;
  color: var(--dark-background-color);
  font-weight: 500;
}
.SpecificBreed .info-field p {
  color: var(--dark-secondary-color);
  font-size: 16px;
  font-weight: 400;
}
.dark .SpecificBreed .info-field span {
  color: white;
}
.dark .SpecificBreed .info h3 {
  background-color: var(#282828);
}
.temper {
  text-align: left;
}
